<div class="main">
    <h1>About</h1>
    <p>
        Eric Zeller is a graduate of Bethel School of Technology in Redding, CA.
        The first and only Christian based tech school that teaches students the
        fundamentals of coding while building soft skills on a foundation of Christian
        values. His specializes in the C# programming language.
    </p>
    <h2>Technological Expertise</h2>
    <ul>
        <li>Angular</li>
        <li>C#</li>
        <li>Javascript, Typescript</li>
        <li>HTML, CSS</li>
    </ul>
</div>