.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 400px;
    margin: 50px auto;
    font-size: larger;
}

.h3 {
    border: 2px dashed black;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}