.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px dashed black;
    width: 500px;
    margin: 100px auto;
    padding: 20px 50px;
    border-radius: 10px;
    text-align: center;
}